<div style="background-color: black; padding-bottom: 10vh;">
    <img src="./assets/images/jordan.png" style="position: absolute; top: 1200px">
    <app-banner></app-banner>
    <div  id="entrance">
        <app-entrance></app-entrance>
    </div>
     <div id="description" class="justify-center h-full w-full bg-gray-100 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10">
         <app-description></app-description>
    </div>
    <app-education></app-education>
    <app-team></app-team>
</div>
