<div class="flex justify-center">
    <div class="inline-flex items-center justify-center w-full">
         <hr class="w-64 h-1 my-8 bg-gray-200 border-0 rounded dark:bg-gray-700">
         <h1 class="mb-4 mt-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">EĞİTİMLER</h1>
         <hr class="w-64 h-1 my-8 bg-gray-200 border-0 rounded dark:bg-gray-700">
    </div>
</div>
<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class="grid gap-4">
        <div style="position: relative;">
            <img class="h-auto max-w-full rounded-lg" src="https://images.pexels.com/photos/1840421/pexels-photo-1840421.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
             <div class=" w-full h-full opacity-0 bg-black hover:opacity-75 transition-all duration-500 ease-in-out " style="position: absolute; top: 0;">
                <h1 class=" text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl justify-center">Doğa Kampı</h1>
             </div>
        </div>

        <div style="position: relative;">
            <img class="h-auto max-w-full rounded-lg" src="https://images.pexels.com/photos/1683975/pexels-photo-1683975.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <div class=" w-full h-full opacity-0 bg-black hover:opacity-75 transition-all duration-500 ease-in-out " style="position: absolute; top: 0;">
                <h1 class=" text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl justify-center">Anne Çocuk</h1>
             </div>
        </div>
        <div style="position: relative;">
            <img class="h-auto max-w-full rounded-lg" src="https://images.pexels.com/photos/14086085/pexels-photo-14086085.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <div class=" w-full h-full opacity-0 bg-black hover:opacity-75 transition-all duration-500 ease-in-out " style="position: absolute; top: 0;">
                <h1 class=" text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl justify-center">Baba Çocuk</h1>
             </div>
        </div>
    </div>
    <div class="grid gap-4">
        <div style="position: relative;">
            <img class="h-auto max-w-full rounded-lg" src="https://images.pexels.com/photos/390051/surfer-wave-sunset-the-indian-ocean-390051.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <div class=" w-full h-full opacity-0 bg-black hover:opacity-75 transition-all duration-500 ease-in-out " style="position: absolute; top: 0;">
                <h1 class=" text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl justify-center">Surf</h1>
             </div>
        </div>
        <div style="position: relative;">
            <img class="h-auto max-w-full rounded-lg" src="https://images.pexels.com/photos/1635086/pexels-photo-1635086.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <div class=" w-full h-full opacity-0 bg-black hover:opacity-75 transition-all duration-500 ease-in-out " style="position: absolute; top: 0;">
                <h1 class=" text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl justify-center">Snowboard</h1>
             </div>
        </div>
        <div style="position: relative;">
            <img class="h-auto max-w-full rounded-lg" src="https://images.pexels.com/photos/10030397/pexels-photo-10030397.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <div class=" w-full h-full opacity-0 bg-black hover:opacity-75 transition-all duration-500 ease-in-out " style="position: absolute; top: 0;">
                <h1 class=" text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl justify-center">Kite Board</h1>
             </div>
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://images.pexels.com/photos/3067870/pexels-photo-3067870.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-7.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-8.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://images.pexels.com/photos/1586795/pexels-photo-1586795.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://images.pexels.com/photos/2834917/pexels-photo-2834917.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-11.jpg" alt="">
        </div>
    </div>
</div>

